.message
  - @messages.each do |message|
    .message
      .upper-message
        .user-name= message.user.name
        .date= message.created_at
      .lower-message
        %p.message= message.body
        .image= image_tag message.image.thumb
